# This is a basic workflow to help you get started with Actions

name: Main

# Controls when the action will run. 
on:
  schedule:
    - cron: 30 22 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  repository_dispatch:
    types: [api]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "main"
  main:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-g
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: npm-${{ hashFiles('package.json') }}

      - name: Install requirements
        run: npm install

      - name: main
        shell: bash
        env:
          CK: ${{ secrets.CK }}
          SCKEY: ${{ secrets.SCKEY }}
          DDTOKEN: ${{ secrets.DDTOKEN }}
        run: |
          echo begin check
          bash main.sh
      
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply if run changes
